<!-- <router-outlet></router-outlet> -->

<body data-gr-c-s-loaded="true">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Budget Tracking App</a>
    </nav>
  </header>
  <p-growl [(value)]="msgs"></p-growl>
  <div [ngBusy]="busy"></div>
  <main role="main" class="container">

    <p-fieldset>
      <p-header>Add New</p-header>

      <div class="form-group">
        <label for="float-input">
          Enter Amount <span style="color:red"> *</span>
        </label>&nbsp;
        <span class="ui-float-label">
          <input id="float-input" type="number" size="30" pInputText [(ngModel)]="BudgetModel.Amount">
          <label for="float-input">Amount</label>
        </span>
      </div>

      <div class="form-group">
        <label for="float-input">
          Start Date <span style="color:red"> *</span>
        </label>&nbsp;
        <div class="ui-inputgroup">
          <p-calendar [ngModel]="BudgetModel.Date | date: 'MM/dd/yyyy'" name="Date" [showIcon]="true" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="2000:2030" (onSelect)="getStartDate($event)"></p-calendar>
        </div>
      </div>

      <div class="form-group">
        <label for="selectedbudgetType">
          Choose budget Type <span style="color:red"> *</span>
        </label>&nbsp;
        <p-dropdown [options]="budgetTypeList" [(ngModel)]="selectedbudgetType" optionLabel="Type" name="selectedbudgetType"
          placeholder="Type" filter="true" (onChange)="changebudgetType($event, selectedbudgetType)">
        </p-dropdown>
      </div>

      <div class="form-group" *ngIf="IsRecurringCost">
        <label for="selectedrecurringCost">
          Repeated <span style="color:red"> *</span>
        </label>&nbsp;
        <p-dropdown [options]="recurringCostList" [(ngModel)]="selectedrecurringCost" optionLabel="Value" name="selectedbudgetType"
          placeholder="vlaue" filter="true" (onChange)="changerecurringCost($event, selectedrecurringCost)">
        </p-dropdown>
      </div>

      <div class="form-group">
        <label for="selectedrecurringCost">
          Description 
        </label>
        <div><textarea pInputTextarea [(ngModel)]="BudgetModel.Description" maxlength="200"></textarea></div>
        
      </div>

      <div class="row pull-right">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary" (click)="save()">
            Save
          </button>
        </div>
      </div>

    </p-fieldset>

    <p-fieldset>
      <p-header>Budget Tracking</p-header>
      <div class="form-group">
        <label for="float-input">
          Choose Date <span style="color:red"> *</span>
        </label>&nbsp;
        <div class="ui-inputgroup">
          <p-dropdown [options]="YearsList" [(ngModel)]="NetFlowYear" optionLabel="Year" name="NetFlowYear"
          placeholder="Select Year" filter="true" >
        </p-dropdown>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" pButton (click)="update($event)" label="Calculate Budget"></button>
        </div>
      </div>
      

      <div>
        <p-chart type="bar" [data]="data" width="750px" height="400px" ></p-chart>
      </div>

    </p-fieldset>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Budget Tracking App.</span>
    </div>
  </footer>
</body>